#KLASIFIKASI ORANGE VS GRAPEFRUIT

## Nama Anggota

- Dico Aji Praseto - 24060119120044
- Elsavira Arizkiyan Az zaqi - 24060119140137
- Lewin Xander Gulo - 24060119130066
- Maulana Aliwafi Haykal - 24060119130108
- Rizqi Fitria Prabawaningrum - 24060119140127

#Data Collecting

In [24]:
import pandas as pd

df = pd.read_csv('citrus.csv')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10000 non-null  object
 1   diameter  10000 non-null  float64
 2   weight    10000 non-null  float64
 3   red       10000 non-null  int64
 4   green     10000 non-null  int64
 5   blue      10000 non-null  int64
dtypes: float64(2), int64(3), object(1)
memory usage: 468.9+ KB

In [26]:
df.head()

     name  diameter  weight  red  green  blue
0  orange      2.96   86.76  172     85     2
1  orange      3.91   88.05  166     78     3
2  orange      4.42   95.17  156     81     2
3  orange      4.47   95.60  163     81     4
4  orange      4.48   95.76  161     72     9

#Data Preparation

In [27]:
# Memisahkan atribut dan label
X = df[['diameter', 'weight', 'red', 'green','blue' ]]
y = df['name']

In [28]:
# Membagi dataset menjadi data latih & data uji rasion 30%
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=123)

In [29]:
# Mengubah nilai-nilai pada kolom name menjadi bilangan numerik
df.name[df.name == 'orange'] = 0
df.name[df.name == 'grapefruit'] = 1
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

     name  diameter  weight  red  green  blue
0       0      2.96   86.76  172     85     2
1       0      3.91   88.05  166     78     3
2       0      4.42   95.17  156     81     2
3       0      4.47   95.60  163     81     4
4       0      4.48   95.76  161     72     9
...   ...       ...     ...  ...    ...   ...
9995    1     15.35  253.89  149     77    20
9996    1     15.41  254.67  148     68     7
9997    1     15.59  256.50  168     82    20
9998    1     15.92  260.14  142     72    11
9999    1     16.45  261.51  152     74     2

[10000 rows x 6 columns]

#Modelling
menggunakan decission tree model

In [30]:
from sklearn.tree import DecisionTreeClassifier
 
# Membuat model Decision Tree
tree_model = DecisionTreeClassifier() 
 
# Melatih model dengan menggunakan data latih
tree_model = tree_model.fit(X_train, y_train)

In [31]:
# Evaluasi Model
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

In [32]:
# Evaluasi Model
from sklearn.metrics import accuracy_score
y_pred = tree_model.predict(X_test)

In [33]:
accuracy = accuracy_score(y_test, y_pred)
print ('Acuracy:', accuracy)
recall = recall_score(y_test, y_pred, average = 'micro')
print('Recall:', recall)
precision = precision_score(y_test, y_pred, average='micro')
print('Precision:', precision)
f1 = f1_score(y_test, y_pred, average='micro')
print('F1:', f1)

Acuracy: 0.944
Recall: 0.944
Precision: 0.944
F1: 0.944

In [34]:
# Prediksi model dengan tree_model.predict
print(tree_model.predict([[11.75, 202.13, 159, 69, 8]])[0])

grapefruit

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

# Visualisasi
menghasilkan output file format .dot kemudian lakukan konversi ke dalam format png

In [35]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = "cruit.dot",
    feature_names = ['diameter', 'weight', 'red', 'green','blue'],
    class_names = ['orange', 'grapefruit'],
    rounded= True,
    filled =True)